

<a href="#" class="yourlink">Click Here</a>

<script type="text/javascript">
$('a.yourlink').click(function(e) {
    e.preventDefault();
    window.open('http://youtube.com');
    window.open('http://yoururl2.com');
});

</script>